before_script:
  - echo $(whoami)
  - echo $(pwd)
  
stages:
  - deploy-master

# 部屬到封測站
deploy-master:
  stage: deploy-master
  only:
    - sandbox
  script:
    - eval $(ssh-agent -s)
    - echo $RUNNER_SSH_PRIVATE_KEY
    - ssh-add <(echo "$RUNNER_SSH_PRIVATE_KEY")
    - mkdir -p ~/.ssh
    - echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config
    - ssh -tt {YOUR_USERNAME}@{YOUR_HOST_IP} -p{YOUR_HOST_PORT} 'cd ~/docker/{YOUR_PROJECT_PATH};
      git pull origin master;
      echo '=====下面可以做一些事情=======';
      echo '=====結束=======';
      '
