<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content="FIFA World Cup"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>FIFA World Cup</title>

    <!--icon-->
    <link rel="shortcut icon" type="image/x-icon" href="./common/img/favicon.ico"/>
    <link rel="apple-touch-icon" href="./common/img/favicon.ico">


    <!--bootstrap-->
    <!--<link rel="stylesheet" type="text/css" href="./common/plugin/bootstrap4/bootstrap.min.css">-->

    <!--fontawesome-->
    <link rel="stylesheet" type="text/css" href="./common/plugin/fontawesome/css/font-awesome.min.css">

    <!--custom-->
    <link rel="stylesheet" type="text/css" href="./common/style/font/fonts-condensed.css">
    <link rel="stylesheet" type="text/css" href="./common/style/css/dist/app.css">
    <!--<link rel="stylesheet" type="text/css" href="./zh-cn/style/css/dist/app.css">-->

</head>
<body class="page-index">
<!--Write something-->

<div id="app">

    <section class="world-cup-schedule">
        <div class="container">
            <!--上半賽程-->
            <div v-for="row in scheduleTopData">
                <div class="row">
                    <div class="col" v-for="team in row">
                        <schedule-match :date="team.date" :time="team.time" :name1="team.name1" :name2="team.name2"/>
                    </div>
                </div>
                <div class="row">
                    <div class="col" v-for="(team,index) in row" v-if="index % 2===1">
                        <line-top-children/>
                    </div>
                </div>
            </div>

            <!--總決賽-->
            <div class="row">
                <div class="col">
                    <line-center-children/>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <schedule-match :date="scheduleCenter.date" :time="scheduleCenter.time" :name1="scheduleCenter.name1" :name2="scheduleCenter.name2" class="scheduleCenter"/>
                    <!--<schedule-match :date="scheduleCenterSelf.date" :time="scheduleCenterSelf.time" :name1="scheduleCenterSelf.name1" :name2="scheduleCenterSelf.name2" class="scheduleCenterSelf"/>-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <line-center-children/>
                </div>
            </div>
            <!--總決賽 End-->

            <!--下半賽程-->
            <div v-for="row in scheduleBottomData">
                <div class="row">
                    <div class="col" v-for="(team,index) in row" v-if="index % 2===1">
                        <line-bottom-children/>
                    </div>
                </div>
                <div class="row">
                    <div class="col" v-for="team in row">
                        <schedule-match :date="team.date" :time="team.time" :name1="team.name1" :name2="team.name2"/>
                    </div>
                </div>
            </div>

        </div>
    </section>


    <!--<section class="world-cup-schedule">-->
    <!--<div class="container">-->
    <!--<div class="row" v-for="row in schedule">-->
    <!--<div class="col">-->
    <!--<schedule-match/>-->
    <!--</div>-->
    <!--<div class="col">-->
    <!--<schedule-match/>-->
    <!--</div>-->
    <!--<div class="col">-->
    <!--<schedule-match/>-->
    <!--</div>-->
    <!--<div class="col">-->
    <!--<schedule-match/>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-6">-->
    <!--<line-children/>-->
    <!--</div>-->
    <!--<div class="col-6">-->
    <!--<line-children/>-->
    <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
    <!--<div class="col-6 text-center">-->
    <!--<schedule-match/>-->
    <!--</div>-->
    <!--<div class="col-6">-->
    <!--<schedule-match/>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</section>-->
</div>


</body>
</html>

<script src="common/plugin/jquery-3.1.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

<!--page-->
<script>
    // 上半部
    var scheduleTop = [
        {
            'row':{
                'date': '28 Jun',
                'time': '09:00',
                'name1': 'Saudi Arabia',
                'name2': 'Saudi Arabia',
            },
            'child': [
                {
                    'row':{
                        'date': '28 Jun',
                        'time': '09:00',
                        'name1': 'Saudi Arabia',
                        'name2': 'Saudi Arabia',
                    },
                    'child': [
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },

                    ]
                },
                {
                    'row':{
                        'date': '28 Jun',
                        'time': '09:00',
                        'name1': 'Saudi Arabia',
                        'name2': 'Saudi Arabia',
                    },
                    'child': [
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },

                    ]
                }
            ]
        }
    ];

    // 下半部
    var scheduleBottom = [
        {
            'row':{
                'date': '28 Jun',
                'time': '09:00',
                'name1': 'Saudi Arabia',
                'name2': 'Saudi Arabia',
            },
            'child': [
                {
                    'row':{
                        'date': '28 Jun',
                        'time': '09:00',
                        'name1': 'Saudi Arabia',
                        'name2': 'Saudi Arabia',
                    },
                    'child': [
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },

                    ]
                },
                {
                    'row':{
                        'date': '28 Jun',
                        'time': '09:00',
                        'name1': 'Saudi Arabia',
                        'name2': 'Saudi Arabia',
                    },
                    'child': [
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },
                        {
                            'row':{
                                'date': '28 Jun',
                                'time': '09:00',
                                'name1': 'Saudi Arabia',
                                'name2': 'Saudi Arabia',
                            }
                        },

                    ]
                }
            ]
        }
    ];

    // 總決賽
    var scheduleCenter = {
        'date': '28 Jun',
        'time': '09:00',
        'name1': 'Saudi Arabia',
        'name2': 'Saudi Arabia',
    }
    // 3,4名比賽
    var scheduleCenterSelf = {
        'date': '28 Jun',
        'time': '09:00',
        'name1': 'Saudi Arabia',
        'name2': 'Saudi Arabia',
    }
</script>
<script src="common/js/page/index.js"></script>
